plotly==
streamlit
pandas==2.3.3
numpy==2.3.5
scikit-learn==1.8.0
xgboost==3.2.0
shap==0.51.0
supabase
python-dotenv
matplotlib==3.10.8
matplotlib-inline==0.2.1
psycopg2-binary==2.9.11
pydantic==2.12.3
pydantic-settings==2.11.0
pydantic_core==2.41.4
SQLAlchemy==2.0.5.post1
